.about {
  &__title {
    & h1 {
      font-size: 116px;
      margin-top: 40px;
    }
  }

  &__text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    & p {
        width: 1164px;
        font-size: 20px;
    }
  }
}
