.basket {
  min-height: 110vh;
  &__title {
    margin: 60px 0px 20px 0px;
    font-size: 35px;
    font-weight: bold;
  }

  &__card {
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    align-items: center;
    border-radius: 19px;
    border: 2px solid #7a876c;
    display: flex;
    // gap: 20px;
    justify-content: space-between;

    & button {
      font-size: 20px;
      border: none;
      color: #7a876c;
      background: none;
      height: max-content;
      // border: none;
    }
  }

  &__cardCont {
    display: flex;
    gap: 30px;
  }

  &__img {
    width: 110px;
  }

  &__cardText {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: bold;
  }

  &__cardTitle {
    font-size: 24px;
  }

  &__price {
    font-size: 20px;
  }

  &__btn {
    margin-top: 20px;
    cursor: pointer;
    padding: 15px;
    color: white;
    background-color: #7a876c;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    border: 3px solid #7a876c;

    transition: 0.1s ease-in;

    &:hover {
      background: none;
      color: #7a876c;
      border: 3px solid #7a876c;
    }
  }

  &__total {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
  }
}

.pustbasket {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & button {
    padding: 16px;
    border: 2px solid #79876b;
    border-radius: 19px;
    font-size: 20px;
    width: 300px;
    color: white;
    background-color: #79876b;
    transition: 0.3s ease-in;

    &:hover {
      background: none;
      border: 2px solid #79876b;
      color: #79876b;
    }
  }

  &__title {
    font-size: 40px;
  }
}

@media (max-width: 776px) {
  .basket {
    &__card {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
}

@media (max-width: 467px) {
  .basket {
    &__cardTitle {
      font-size: 20px;
    }
  }
}
