
.header {
  padding: 14px;
  color: #7a876c !important;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #7a876c;

  justify-content: space-between;
  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    & h1 {
      color: #7a876c;
    }
  }

  &__linkList {
    & ol {
      display: flex;
      gap: 30px;

      & li {
        cursor: pointer;
        color: #7a876c;
      }
    }
  }

  &__regbtn {
    cursor: pointer;
    padding: 14px;
    border: 3px solid #7a876c;
    border-radius: 15px;
    color: #7a876c;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #7a876c;
      color: #e8e7e3 ;
    }
  }

  &__profile {
    cursor: pointer;
    padding: 14px;
    border: 3px solid #7a876c;
    border-radius: 15px;
  }

  &__links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__basketIcon {
    cursor: pointer;
    padding: 11px;
    border: 3px solid #7a876c;
    border-radius: 15px;
  }
}

@media (max-width: 995px) {
  .header__links {
    display: none;
  }
}

@media (max-width: 769px) {
  .header__linkList {
    display: none;
  }
}
