.footer {
  padding: 120px 0px 60px 0px;
  //   padding: 25px;
  background-color: #79876b;
  color: white !important;

  &__container {
    align-items: start;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    & h1 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__contactsUsText {
    & p {
      font-size: 19px;
    }
  }

  &__text {
    display: flex;
    gap: 30px;
    flex-direction: row;
  }

  &__textConts {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & ol {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    & li {
      width: 400px;
      font-size: 16px;
    }
  }

  &__textContsTitle {
    font-size: 19px;
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  .footer {
    &__container {
      flex-direction: column;
      gap: 40px;
    }

    &__text {
      flex-direction: column;
      gap: 10px;
    }
  }
}
