@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: inherit;
}

html {
  // scroll-behavior: smooth;
  scroll-behavior: auto;
  /* overflow-y: hidden; */
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  /* padding-right: calc(var(--bs-gutter-x)* 0.8); */
  /* padding-left: calc(var(--bs-gutter-x)* 0.1); */
  margin-right: auto;
  margin-left: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Минимальная высота на всю высоту экрана
  overflow-x: hidden;
  font-family: "Inter", sans-serif !important;
  color: #79876b !important;
}

main {
  flex-grow: 1; // Занимает все доступное пространство между header и footer
  padding: 20px 0; // Добавляет отступ сверху и снизу
}

footer {
  margin-top: 80px;

  padding: 20px 0;
}

a {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}

li {
  list-style-type: none !important;
}

dl,
ol,
ul {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

@media (max-width: 668px) {
  main {
    margin-top: 130px;
  }
}
